<main>
<p id = "notice"></p>  
<div class = "container">
  <div class = "row">
    <%= render 'userinfo', book: @book,user: @user %>
    
    <div class = "col-md-8 offset-md-1">
      <h2>Book detail</h2>
      
    </div>
    
  </div>
</div>





</main>