<html class = "fontawesome-i2svg-active fontawesome-i2svg-complete">
  <main>
  <p id="notice"></p>
  
  <div class="container">
    <div class="row">
      <div class="px-3 mx-auto">
        <h1>
          Welcome to <strong>Bookers</strong>!
        </h1>
        </div>
        </div>
  </div>
</main>
</html>